# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# reemplazar por las credenciales de tu base de datos
DATABASE_URL="mysql://$usuario:$contraseña@$host:$puerto/$base"
JWT_SECRET=soygoku
PORT=4000

MAIL_HOST=mail.dominio.com
MAIL_PORT=4566
MAIL_USER=pepito
MAIL_PASS=loasdajs

SRI_RECEPTION_URL_TEST=https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
SRI_AUTHORIZATION_URL_TEST=https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline?wsdl
SIGNATURE_PASSWORD=casa*

NODE_ENV=development
AMBIENTE=1
